<header>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between py-1">
      <h1 class="mb-0 d-flex align-items-center">
        <a href="#" routerLink="/home" class="d-flex align-items-center">
          <img src="assets/img/logo.png" height="80" alt="logo" class="me-2">
        </a>
      </h1>
      <nav>
        <ul class="list-unstyled d-flex mb-0">
          <li class="ms-5">
            <a href="#" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              class="fs-5"> CRUD </a>
          </li>
          <li class="ms-5">
            <a href="#" routerLink="/mapa" routerLinkActive="active" class="fs-5"> Mapa </a>
          </li>
          <li class="ms-5">
            <a href="#" routerLink="/full-calendar" routerLinkActive="active" class="fs-5"> Full Calendar </a>
          </li>
          <li class="ms-5">
            <a href="#" routerLink="/graficos" routerLinkActive="active" class="fs-5"> Gráficos </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>