<progress-bar-component *ngIf="loading"></progress-bar-component>

<div *ngIf="!loading" class="container">
  <h1 class="text-center py-5 text-secondary">{{tittle}}</h1>

  <table *ngIf="listProducts.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Características</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listProducts" class="table-active">
        <td>{{ item.name | capitalize}}</td>
        <td>{{ item.description | capitalize}}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{ item.stock }}</td>
        <td>
          <button routerLink="/edit/{{ item.id }}" type="button" class="btn btn-warning btn-sm">Edit</button>
          <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<h5 class="my-5 text-center" *ngIf="listProducts.length == 0">{{msgNoItems}}</h5>

<div class="d-flex justify-content-center align-items-center py-3">
  <button type="button" class="btn btn-primary" routerLink="/add">Comprar Producto</button>
  <button type="button" class="btn btn-success" (click)="downloadCSV()">Descargar CSV</button>

</div>